<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JobSaathi | Dashboards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">JobSaathi</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
        <h1 class="text-center">
            Welcome to JobSaathi 
        </h1>
        <br>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control" value="{{user_name}}">
      
          </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Purpose</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="purpose" value="candidate" onclick="selectPurpose('candidateform')" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Job Seeker
                </label>
              </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="purpose" value="hirer" onclick="selectPurpose('hirerform')">
                <label class="form-check-label" for="flexRadioDefault2">
                  Hire Talent
                </label>
              </div>
      
          </div>
          <div id="candidateform" style="display: block;">
            <h2>candidate form In Progress</h2>
        </div>
        <div id="hirerform" style="display: none;">
            <h2>hirerform form In Progress</h2>
          </div>
       
         
    </div>
    <script>
        function selectPurpose(purpose){
            if(purpose==="candidateform"){
                document.getElementById("candidateform").style.display = "block"
                document.getElementById("hirerform").style.display = "none"
                
            }
            else if(purpose==="hirerform")
            document.getElementById("hirerform").style.display = "block"
            document.getElementById("candidateform").style.display = "none"


        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>